<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cabalry" >

    <uses-sdk android:minSdkVersion="14" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <permission android:name="com.cabalry.gcm.permission.C2D_MESSAGE"
                android:protectionLevel="signature" />
    <uses-permission android:name="com.cabalry.gcm.permission.C2D_MESSAGE" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/Theme.Cabalry" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyA9LRUQ2sQu5BU-wbRirEeYbz9b5b_l3pI" />

        <activity
            android:name=".activity.CabalryActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.MapActivity"
            android:label="@string/title_activity_map"
            android:screenOrientation="portrait"
            android:parentActivityName=".activity.HomeActivity" >
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".activity.HomeActivity" />
        </activity>

        <activity
                android:name=".activity.AlarmActivity"
                android:label="@string/title_activity_alarm"
                android:screenOrientation="portrait"
                android:parentActivityName=".activity.HomeActivity" >
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".activity.HomeActivity" />
        </activity>

        <activity
                android:name=".activity.AlarmNotificationActivity"
                android:label="@string/title_activity_alarm_notification"
                android:screenOrientation="portrait"
                android:parentActivityName=".activity.HomeActivity" >
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".activity.HomeActivity" />
        </activity>

        <activity
                android:name=".activity.AlarmCancelActivity"
                android:label="@string/title_activity_alarm_cancel"
                android:screenOrientation="portrait"
                android:parentActivityName=".activity.HomeActivity" >
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".activity.HomeActivity" />
        </activity>

        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>

        <activity
            android:name=".activity.HomeActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_home" >
        </activity>

        <activity
            android:name=".activity.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:screenOrientation="portrait"
            android:parentActivityName=".activity.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.HomeActivity" />
        </activity>

        <activity
            android:name=".activity.RecordingsActivity"
            android:label="@string/title_activity_recordings"
            android:screenOrientation="portrait"
            android:parentActivityName=".activity.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.HomeActivity" />
        </activity>

        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait"
            android:parentActivityName=".activity.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.HomeActivity" />
        </activity>

        <activity
                android:name=".activity.BillingActivity"
                android:label="@string/title_activity_billing"
                android:screenOrientation="portrait"
                android:parentActivityName="com.cabalry.activity.HomeActivity" >
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.cabalry.activity.HomeActivity" />
        </activity>

        <activity
                android:name=".activity.RegisterActivity"
                android:label="@string/title_activity_register"
                android:screenOrientation="portrait"
                android:parentActivityName=".activity.LoginActivity" >
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.cabalry.activity.LoginActivity" />
        </activity>

        <activity
                android:name="com.cabalry.activity.ForgotActivity"
                android:label="@string/title_activity_forgot"
                android:screenOrientation="portrait"
                android:parentActivityName=".activity.LoginActivity" >
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".activity.LoginActivity" />
        </activity>

        <receiver
                android:name=".service.GCMBroadcastReceiver"
                android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.cabalry" />
            </intent-filter>
        </receiver>

        <service android:name=".service.GCMIntentService"
                android:exported="false" />
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />

        <service android:name=".service.TracerLocationService"
                 android:exported="false" />


    </application>

</manifest>