<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cabalry" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <!-- To declare that your app is available to BLE-capable devices only, set required = true -->
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="false"/>

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <permission android:name="com.cabalry.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.cabalry.gcm.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/title_app_name"
        android:theme="@style/Theme.Cabalry" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".app.LoginActivity"
            android:label="@string/title_app_name"
            android:windowSoftInputMode="adjustResize|stateHidden" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".app.HomeActivity"
            android:label="@string/title_app_name" >
        </activity>

        <activity
            android:name=".app.UserMapActivity"
            android:label="@string/title_activity_user_map" >
        </activity>

        <activity
            android:name=".app.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".app.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".app.HomeActivity" />
        </activity>

        <activity
            android:name=".app.RecordingsActivity"
            android:label="@string/title_activity_recordings"
            android:parentActivityName=".app.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".app.HomeActivity" />
        </activity>

        <activity
            android:name=".app.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".app.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".app.HomeActivity" />
        </activity>

        <activity
            android:name=".app.BillingActivity"
            android:label="@string/title_activity_billing"
            android:parentActivityName=".app.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".app.HomeActivity" />
        </activity>

        <activity
            android:name=".app.RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName=".app.LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".app.LoginActivity" />
        </activity>

        <activity
            android:name=".app.ForgotActivity"
            android:label="@string/title_activity_forgot"
            android:parentActivityName=".app.LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".app.LoginActivity" />
        </activity>

        <activity
            android:name=".app.DeviceControlActivity"
            android:label="@string/title_app_name"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".bluetooth.DeviceListActivity"
            android:label="@string/select_device" />

        <service android:name=".bluetooth.BluetoothService"
            android:exported="false" />

        <service android:name=".location.LocationUpdateService"
            android:exported="false" />

        <service android:name=".audio.AudioStreamService"
            android:exported="false" />

        <service android:name=".audio.AudioPlaybackService"
            android:exported="false" />

        <receiver
            android:name=".gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.cabalry" />
            </intent-filter>
        </receiver>

        <!--
        <receiver
            android:name="com.cabalry.service.SilentAlarmReceiver">
            <intent-filter>
                <action android:name="android.media.VOLUME_CHANGED_ACTION" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.cabalry.service.NetworkStateReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE">
                    <action android:name="android.net.wifi.WIFI_STATE_CHANGED"></action>
                </action>
            </intent-filter>
        </receiver> -->

        <service android:name=".gcm.GCMIntentService"
            android:exported="false" />
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />

        <!--
        <service android:name=".service.LocationTracerService"
            android:exported="false" />

        <service android:name=".service.AlarmTimerService"
            android:exported="false" />

        <service android:name=".service.AlarmService"
            android:exported="false" />

        <service android:name=".service.SilentAlarmService"
            android:exported="false" />

        <service android:name=".service.AlarmSoundService"
            android:exported="false" /> -->

    </application>

</manifest>